#welcome {
    text-align: center;
}

body {
    text-align: center;
    background-color: rgb(113, 181, 236);
    font-family: 'Cabin', sans-serif;
}

.link {
    text-decoration: dotted;
    background-color: none;
}

#about {
    font-size: large;
}

p {
    text-align: center;
    display: inline-flex;
    font-size: x-large;
}

li {
    display: inline-flex;
    padding: 0 15px;
    font-size: larger;
}

#login {
    display: inline-flex;
    text-align: right;
    align-items: right;
}

#navbar {
    display: inline-flex;
}